<div class="banner" style="background: grey" %>
  <div class="banner-content text-center py-4">
    <h1><%= @cocktail.name %></h1>
    <%= link_to "Back to all cocktails", cocktails_path %>
  </div>
</div>
<div class= "container text-center py-4">
  <% @cocktail.doses.each do |dose| %>
    <%= dose.description %>
    <%= dose.ingredient.name%>
    <%= link_to "Delete doce", cocktail_dose_path(@cocktail, dose), method: :delete %>
  <% end %>
  <br>
<%= link_to "create Doses", new_cocktail_dose_path(@cocktail) %>
</div>
