h1><%=@cocktail.name%></h1>
<%= link_to "Add Dose", new_cocktail_dose_path(@cocktail), class:"btn btn-primary" %>
</div>
<div class="container d-flex justify-content-between">
  <div class="row row-cols-4">
  <% @cocktail.doses.each do |dose| %>
    <div class="card m-3 p-2">
      <div class="card-body">
          <h5 class="card-title"><%= dose.description %></h5>
          <div class="row justify-content-around">
            <%# <%= link_to 'More info', dose_path(dose.id), class: "btn btn-primary m-2" %>
            <%# <%= link_to 'Update cocktail', edit_cocktail_path(cocktail.id), class: "btn btn-warning m-2" %>
            <%# <%= link_to 'delete', cocktail_path(cocktail.id), method: :delete, class: "btn btn-danger m-2" %>
          </div>
      </div>
    </div>
    <%end%>
  </div>
</div>

